html, body{
    height: 100%;
    /* Sempre coloque o html e body com altura de 100% para pegar a tela inteira. */
}

#ImagemPPT{
  display: block;  
  position: relative;
  top: 5%;
  left: 25%;
}

#apresentacao{
    margin-left: 30%;
    margin-top: 40px;
    font-size: 70px;
}

#ComecarJogo{
    margin-top: 70px;
    display: block;
    position: relative;
    left: 40%;
    width: 500px;
    height: 170px;
    font-size: 40px;
    background-color: red;
    color: white;
}

#tempo{
    display: block;  
    position: relative;
    top: -5%;
    left: 1000%;
}